#blue{
    color:blue;
}
#yellow{
    color:yellow;
}
#pink{
    color:pink
}
#pruple{
    color:purple;
}
#background-blue{
    background-color:blue;
}
.background-yellow{
    background-color: yellow;
}
.style-blue{
    color:blue;
}
.style-gray{
    color:gray;
}
.background-black{
    background-color:black;
}